<template>
  <div id="app">

    <div>
      <form @submit.prevent="createTimer">
        <input
            type="text"
            v-model="timerName"
            placeholder="Timer name"
        >
        <button>Create</button>
      </form>
      <ul>
        <li
            style="margin-bottom: 10px"
            v-for="(timer, idx) in timerIntervalList"
            :key="idx"
        >
          {{ timer.name + ' - ' + getTime(timer.second) }}
          <button
              :disabled="blockedButtons"
              @click="deleteTimer(idx)"
          >Delete</button>
          <button
              :disabled="blockedButtons"
              @click="changeTimerState(idx, timer)"
          >
            {{ timer.state === 'play' ? 'Pause' : 'Play' }}
          </button>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      timerName: '',
      timerInterval: null,
      timerIntervalList: [],
      blockedButtons: false,
      blockedInput: false
    }
  },
  computed: {
    timerList() {
      return this.$store.state.timerList
    },
  },
  methods: {
    createTimer() {
      if (this.blockedInput) return false;
      this.blockedInput = true;
      const date = new Date().getTime();
      this.$store.commit('setToTimerList', {
        name: this.timerName.trim().length
            ? this.timerName
            : new Date().toLocaleString(),
        date,
        state: 'play'
      });

      this.timerName = '';
      setTimeout(() => this.blockedInput = false, 1000)
    },
    runTimer() {
      this.timerInterval = setInterval(() => {
        const date = new Date().getTime();

        const calcCompletedPauses = arr => arr.reduce((acc, val) => acc += val.play - val.pause, 0)

        const calcSecondsPlay = el => (date - el.date) - (!!el.pauses
            ? calcCompletedPauses(el.pauses)
            : 0);

        const calcSecondsPause = (idx, startDate) => {
          const pauses = this.timerList[idx].pauses;
          const lastPause = pauses[pauses.length - 1].pause;
          const otherPauses = [...pauses].splice(0, pauses.length - 1)

          return !!pauses
              ? lastPause - startDate - calcCompletedPauses(otherPauses)
              : this.timerIntervalList[idx].second
        };

        this.timerIntervalList = this.timerList.map((el, idx) => ({
          ...el, ...this.timerList[idx] ? {
            second: el.state === 'play'
                ? calcSecondsPlay(el)
                : calcSecondsPause(idx, el.date)
          } : {}
        }))

        this.blockedButtons = false;
      }, 1000)
    },
    deleteTimer(idx) {
      this.blockedButtons = true;
      this.$store.commit('deleteTimer', idx);
    },
    changeTimerState(idx, item) {
      this.blockedButtons = true;
      const state = item.state === 'play' ? 'pause' : 'play';
      const date = new Date().getTime();

      const addPlay = arr => {
        const newArr = [...arr];
        newArr.splice(newArr.length - 1, 1 , {
            ...newArr[newArr.length - 1],
            ...{
              play: date,
            }
          })
        return newArr;
      };

      const pauses = !!item.pauses?.length
          ? state !== 'play'
              ? [...item.pauses, ...[{pause: date, play: null}]]
              : addPlay(item.pauses || [])
          : [{pause: date, play: null}]

      this.$store.commit('changeTimerState', [idx, {...item,
        state,
        pauses
      }]);
    },
    getTime(milliseconds) {
      const secs = Math.floor((milliseconds / 1000));
      const hours = Math.floor(secs / (60 * 60));
      const divisorForMinutes = secs % (60 * 60);
      const minutes = Math.floor(divisorForMinutes / 60);
      const divisorFromSeconds = divisorForMinutes % 60;
      const seconds = Math.ceil(divisorFromSeconds);

      const formatTime = time => time < 10 ? `0${time}` : time;

      return `${formatTime(hours)}:${formatTime(minutes)}:${formatTime(seconds)}`
    },
  },
  watch: {
    timerList: {
      deep: true,
      handler(val) {
        localStorage.setItem('timerList', JSON.stringify(val))
        if (!!!val.length) this.timerIntervalList = [];
      }
    }
  },
  created() {
    const timerList = JSON.parse(localStorage.getItem('timerList'));
    if (timerList) this.$store.commit('updateTimer', timerList);
    this.runTimer();
  },
  beforeDestroy() {
    this.timerInterval = null;
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
